@import '../../../app/variables.scss';

.Button {
    width: 100%;
    max-width: 100px;
    height: 35px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 15px 0;
    cursor: pointer;
    
    &:hover {
        background-color: $hover-color;
    }

    &.red {
        background-color: $red;
    }

    &.large {
        max-width: 100%;
    }
}