$primary-color: black;
$hover-color: rgb(49, 49, 49);
$border-color: grey;
$foreground-color: white;
$background-color: rgb(246, 246, 246);
$red: rgb(220, 18, 18);
$red-hover: rgb(190, 17, 17);
$background: rgb(246, 246, 246);
